name: Continuous Deployment

# `azure/login@v1` Repository Action Secrets
# See: https://github.com/azure/login/tree/v1/?tab=readme-ov-file
# AZURE__TENANTID
# AZURE__SUBSCRIPTIONID

# `aspire deploy` Repository Action Secrets
# See: https://aspire.dev/reference/cli/commands/aspire-deploy/ & https://aspire.dev/get-started/deploy-first-app/?lang=csharp#deploy-your-app
# AZURE__SUBSCRIPTIONID
# AZURE__RESOURCEGROUP
# AZURE__LOCATION

on:
  workflow_dispatch:
  push:
    branches: [ main ]

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.*

      - name: Install Aspire Workload
        run: dotnet workload install aspire

      - name: Azure Login
        uses: azure/login@v1
        with:
          tenant-id: ${{ secrets.AZURE__TENANTID }}
          subscription-id: ${{ secrets.AZURE__SUBSCRIPTIONID }}

      - name: Deploy Application
        run: |
          aspire deploy \
            --environment Production \
            --clear-cache \
            --include-exception-details
